<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create province</title>
</head>
<body>
<h1>Create province</h1>
<p>
    <a href="/provinces">Province list</a>
</p>

<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<form th:action="@{/create-province}" th:object="${province}" method="post">
    <table>
        <tr>
            <td>Tên thành phố:</td>
            <td><input type="text" th:field="*{name}" required/></td>
        </tr>

        <tr>
            <td>Tên quốc gia:</td>
            <td>
                <select th:field="*{national}">
                    <option th:each="n : ${nationals}" th:value="${n.id}" th:text="${n.name}"></option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Diện tích:</td>
            <td><input type="number" step="0.01" th:field="*{area}" min="0"/></td>
        </tr>
        <tr>
            <td>Dân số:</td>
            <td><input type="text"  th:field="*{population}" min="1" required/></td>
        </tr>
        <tr>
            <td>GDP:</td>
            <td><input type="number" step="0.01" th:field="*{GDP}" min="0"/></td>
        </tr>
        <tr>
            <td>Giới thiệu</td>
            <td><textarea type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Tạo thành phố mới"></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="/provinces">Thoát</a></td>
        </tr>
    </table>
</form>
</body>
</html>