<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View province</title>
</head>
<body>
<h1>View province: <span th:text="${province.name}"></span></h1>
<table>
    <tr>
        <td>Tên thành phố:</td>
        <td><p type="text" th:text="${province.name}" required/></td>
    </tr>
    <tr>
        <td>Quốc gia:</td>
        <td>
            <p th:text="${province.getNational().getName()}">
        </td>
    </tr>
    <tr>
        <td>Diện tích:</td>
        <td><p th:text="${province.getArea()}" /></td>
    </tr>
    <tr>
        <td>Dân số:</td>
        <td><p type="text" th:text="${province.getPopulation()}" min="1" required/></td>
    </tr>
    <tr>
        <td>GDP:</td>
        <td><p type="number" step="0.01" th:text="${province.getGDP()}" /></td>
    </tr>
    <tr>
        <td>Giới thiệu</td>
        <td><p type="text" th:text="${province.getDescription()}"/></td>
    </tr>
    <tr>
        <td></td>
        <td><a th:href="@{/edit-province/__${province.id}__ }" >Sửa</a>|
    </tr>
    <tr>
        <td></td>
        <td><a href="/provinces">Thoát</a></td>
    </tr>
</table>
</body>
</html>